<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" media="screen" title="no title">
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {% block body %}
    <ul class="topnav" id="myTopnav">
      <li><a href="display_all">Contacts</a></li>
      <li><a href="new_phonebook">Add Contacts</a></li>
      <li>
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
      </li>
    </ul>

      <h1>Welcome!</h1>
    {% endblock %}
  </body>
</html>
