
{% extends "layout.html" %}

{% block body %}
<h1>All Entries</h1>
<table border="1" width="100%">
  <tr class="titles">
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  {% for contact in phonebook_list %}
  <tr class="contacts">
    <td>{{contact.name}}</td>
    <td>{{contact.phone_number}}</td>
    <td>{{contact.email}}</td>
    <td><a href="update_phonebook?id={{contact.id}}"><input type="button" name="name" value="Update"></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
