
{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="/static/css/styles.css" media="screen" title="no title">
<ul class="topnav" id="myTopnav">
  <li><a href="display_all">Contacts</a></li>
  <li><a href="new_phonebook">Add Contact</a></li>
  <li>
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>
<h1>All Entries</h1>
<table border="1" width="100%">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  {% for contact in phonebook_list %}
  <tr>
    <td>{{contact.name}}</td>
    <td>{{contact.phone_number}}</td>
    <td>{{contact.email}}</td>
    <td><a href="update_phonebook?id={{contact.id}}"><input type="button" name="name" value="Update"></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
